[submodule "ext/cuNSearch"]
	path = ext/cuNSearch
	url = https://github.com/CTKnight/cuNSearch.git
[submodule "ext/CompactNSearch"]
	path = ext/CompactNSearch
	url = https://github.com/CTKnight/CompactNSearch.git
